@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #be185d9f;
    text-align: right;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
}

.link{
    color: white;
    text-decoration: none;
    text-align:right;
    padding: 0rem 1rem;
}
.link-head{
    color: #FEE2E2;
    text-align: left;
}
.about-head{
    padding: 0rem 0rem;
    
}
.bg-img{
    max-width: 80%;
    width: 360px;
    margin: auto;
    display: block;
}
.img-head{
    text-align: center;
    color:#be185d9f;
}
.img-span{
    color: #BE185D;
}
section{
    background-color: #F3F4F6;
    text-align: center;
    padding: 3rem 4rem;
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border-radius: 1rem;
}
.projects{
    background-color: white;
    padding: 1rem 1rem;
}
.color-link{
   text-decoration: none;
   color: white;
   background-color:#be185d9f ;
   padding: 0.3rem 1.5rem;
   border-radius: 16px;
   display: inline-block;
   margin-top: 1rem;
}
.blank-link{
    text-decoration: none;
   color:#be185d9f; 
   padding: 0.3rem 1.5rem;
   border-radius: 16px;
   display: inline-block;
   border: 0.1px solid #be185d9f;
   margin-top: 1rem;

}
footer{
    background-color:#be185d9f ;
    color: black;
    text-align: center;
    padding: 2rem 3rem;
    border-top-left-radius: 1rem;
}
.footer-icon{
    max-width: 5%;
    height: 2rem;
    margin: 1rem;
}
.para{
    margin: 0.5rem;
}
.white {
    background-color: white;

}
.groot-translator{
    background-color: white;
    color: black;
}